################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LinuxFileSystemSimulation/DesignTimeBuild
/.vs/LinuxFileSystemSimulation/FileContentIndex
